* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

img {
    max-width: 200px;
    /*Quitar esto de aquí!
    TODO: Optimizar imágenes para reducir peso y cambiar tamaños!*/
}

footer {
    font-size: 1em;
    color: #fff;
    background-color: #1b1b1b;
    width: 100vw;
}

.column, .footer-below__social li {
    display: table-cell;
    padding: 0.5rem;
}

footer input[type='checkbox'] {
    display: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-links {
    width: 80%;
    margin: auto;
    display: table;
    table-layout: fixed;

}

.footer-below {
    width: 80%;
    margin: auto;
    display: table;
    table-layout: fixed;
}

.footer-below small {
    display: table-cell;
}

.footer-below__social {
    width: 100%;
    display: table;
    table-layout: fixed;
}

@media (hover: none) {
    .column {
        display: block;
    }

    .column:after {
        content: "";
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: white;
    }

    .lbl-toggle {
        position: relative;
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
        color: #DDD;
        cursor: pointer;
        transition: all 0.25s ease-out;
    }

    .lbl-toggle::after {
        content: '+';
        position: absolute;
        right: 0;
    }

    .toggle:checked + .lbl-toggle::after {
        content: '-';
    }

    .collapsible-content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .5s ease-in-out;
    }

    .toggle:checked + .lbl-toggle + .collapsible-content {
        max-height: 350px;
    }

}
