fieldset {
    border: none;
    display: block;
}

input:not([type="checkbox"]):not([type="submit"]) {
    border-radius: 10px;
    border-color: var(--color-gray);
    border-width: 1px;
}

.contact-form__label {
    display: inline-block;
    width: 40%;
    text-align: start;
    padding: 1%;
    vertical-align: top;
}

.contact-form__label input,
.contact-form__label select,
.contact-form__label textarea {
    display: block;
    width: 100%;
}

.contact-form__label input:focus {
    outline: none;
    border-style: solid;
    border-color: aqua;
}