fieldset {
    border: none;
    display: block;
}

input:not([type="checkbox"]):not([type="submit"]), textarea, select {
    border-radius: 10px;
    border-color: var(--color-gray);
    border-width: 1px;
    background-color: var(--color-white);
}

.contact-form__label {
    display: inline-block;
    width: 40%;
    text-align: start;
    padding: 1%;
    vertical-align: top;
}

.contact-form__label input,
.contact-form__label select,
.contact-form__label textarea {
    display: block;
    width: 100%;
}

.contact-form__label input:focus,
.contact-form__label textarea:focus
{
    outline: none;
    box-shadow: 0 0 3px 2px var(--color-dark-shadow);
}

.contact-form__label select:focus {
    outline: none;
    color: var(--color-dark-shadow);
    background-color: var(--color-white);
}

/*falta darles el mismo alto a todas las cajas*/