fieldset {
    border: none;
    display: block;
    text-align: left;
}

fieldset label {
    display: block;
}

input:not([type="checkbox"]):not([type="submit"]), textarea, select {
    border-radius: 10px;
    border-color: var(--color-gray);
    border-width: 1px;
    background-color: var(--color-white);
}

.contact-form__label {
    display: inline-block;
    width: 50%;
    text-align: start;
    padding: 1%;
    vertical-align: top;
    margin-right: -4px;
}

.contact-form__label input,
.contact-form__label select,
.contact-form__label textarea {
    display: block;
    width: 100%;
    min-height: 32px;
}

.textarea-label {
    display: block;
    width: 100%;
}

.contact-form__label textarea {
    height: 96px;
}

.contact-form__label input:focus,
.contact-form__label textarea:focus,
.contact-form__label select:focus {
    outline: none;
    box-shadow: 0 0 3px 2px var(--color-dark-shadow);
}

.contact-form__label select:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.contact-form__label select:active {
    outline: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color-white);
    color: var(--color-black);
}


.contact-form__label select option:checked {
    background: var(--color-lightgray);
}