
#breadcrumb li {
    display: inline-block;
}

#breadcrumb li:not(:last-child):after {
    content: '>>';
    font-size: 0.6rem;
    padding: 0.4rem;
}

main section {
    padding: 1.2rem;
    text-align: center;
}

.section__initial--squares,
.section--brands,
.section--solutions,
.distrib__container,
.section--inspo,
.section--blog {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.contact-form {
    max-width: 1024px;
    margin: auto;
}

.square {
    display: inline-block;
}

.section--profcontact {
    background-color: var(--color-lightgreen);
    text-align: center;
}

.section--contact,
.section--distrib,
.section--solutions {
    background-color: var(--color-lightgray);
}

.section--distrib article,
.section--brands article {
    display: inline-block;
    max-width: 350px;
    vertical-align: top;
}

.section--distrib {
    margin-top: 1rem;
}

.solutions__form,
.solutions__picture {
    display: inline-block;
    vertical-align: top;
    padding: 1.2em;
}

.solutions__form {
    max-width: 450px;
}

.section--blog article {
    display: inline-block;
    max-width: min-content;
}

/*@media (max-width: 768px) {
}

@media (min-width: 1440px) {
}*/

