.main-footer {
    font-size: 1em;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--main-font);
}

.main-footer input[type='checkbox'] {
    display: none;
}

.main-footer__container {
    max-width: 1024px;
    padding: 2%;
    margin: auto;
    text-align: left;
}

.main-footer__links {
    margin-left: -8px;
    margin-right: -8px;
}

.main-footer__links::after {
    content: "";
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-white);
    margin-top: 16px;
}

.footer-social__list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 8px;
}

.main-footer__social {
    min-height: 56px;
    position: relative;
}

.main-footer__social small {
    display: inline-block;
    margin-top: 24px;
    position: absolute;
}

.footer-social__list {
    display: inline-block;
    position: absolute;
    right: 0;
}

@media (max-width: 768px) {

    .main-footer__container {
        max-width: 600px;
    }

    .main-footer__links,
    .main-footer__social {
        margin: auto;
    }

    .column-footer {
        min-width: 500px;
        display: block;
    }

.main-footer__social {
    position: inherit;
}
    .main-footer__social small {
        position: inherit;
    }
    .footer-social__list {
        position: inherit;
    }

}

@media (min-width: 1920px) {
    .main-footer__container {
        min-width: 1440px;
    }

    .main-footer__links,
    .main-footer__social {
        margin: auto;
    }
}