.main-footer {
    font-size: 1em;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--main-font);
}

.main-footer input[type='checkbox'] {
    display: none;
}

.main-footer__container {
    max-width: 1024px;
    padding: 2%;
    margin: auto;
    text-align: left;
}

.main-footer__links {
    margin-left: -8px;
    margin-right: -8px;
    width: fit-content;
}

.main-footer__links::after {
    content: "";
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-white);
}

.footer-social--list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

.main-footer__social small {
    display: inline-block;
}

.footer-social--list {
    display: inline-block;
}

.social-logo {
    width: 40px;
    height: 40px;
    fill: blue;
}

/*
======= MOBILE =====
*//*
@media (max-width: 425px) {
    .main-footer__links {
        max-width: var(--footer-size-mobile);
        padding: 10%;
    }

    .column {
        max-width: var(--footer-size-mobile);
    }
}*/

/*
======= TABLET V =====
*//*
@media (max-width: 768px) {
    .column {
        display: block;
        width: var(--footer-size-tabletV);
    }

    .column ul {
        max-width: max-content;
    }

    .main-footer__links {
        max-width: var(--footer-size-tabletV);
    }

    .main-footer__social {
        max-width: 80%;
        margin: auto;
    }

    .footer-social--list li {
        min-height: 40px;
        margin-bottom: 12px;
    }

    .toggle-label {
        position: relative;
        display: block;
        color: var(--color-white);
        transition: all 0.25s ease-out;
        min-height: 36px;
    }

    .toggle-label::after {
        content: "";
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-white);
    }

    .toggle-label::before {
        content: '+';
        position: absolute;
        right: 0;
    }

    .toggle-collapse:checked + .toggle-label::before {
        content: '-';
    }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in-out;
    }

    .collapsible-content li {
        min-height: 36px;
        white-space: pre-line;
    }

    .toggle-collapse:checked + .toggle-label + .collapsible-content {
        max-height: fit-content;
    }

}

*/
/*
======= TABLET H + LAPTOP =====
*/
/*
@media (min-width: 1440px) {
    .main-footer__links {
        min-width: var(--footer-size-tabletH);
    }

    .column:not(:last-child) {
        margin-right: 24px;
    }
}

/*
======= LAPTOP XL =====
*//*
@media (min-width: 1920px) {
    .main-footer__links {
        min-width: var(--footer-size-laptopXL);
    }

    .column:not(:last-child) {
        margin-right: 40px;
    }
}*/