.secondary-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondary-nav__container * {
    vertical-align: top;
}

.secondary-nav--left li,
.secondary-nav--right * {
    display: inline-block;
    align-self: center;
}

.secondary-nav--left li {
    margin-right: -24px;
}

.secondary-nav--right {
    font-size: 0.9em;
}

.secondary-nav--right form {
    position: relative;
}

.secondary-nav--right li {
    padding: 4px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--color-lightgray);
}


/*______________________________________________________________*/
.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-self: center;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1360px;
    padding: 2%;
    margin: auto;
    text-align: center;
}

.main-navbar__tab {
    overflow: hidden;
    align-self: center;
    padding: 16px;
}

.navbar__dropdown {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--color-lightgray);
    width: 100%;
    z-index: 1;
}

.navbar__dropdown li {
    padding: 16px;
}

.main-navbar__tab.active .navbar__dropdown,
.main-navbar__tab:focus .navbar__dropdown {
    display: flex;
    justify-content: space-evenly;
    padding: 4%;
}

.main-navbar__tab.active .standout-text {
    color: var(--color-black);
    text-decoration: underline;
}

.primary-link.standout-text {
    position: relative;
}

.primary-link.standout-text::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.main-navbar__tab:hover .primary-link.standout-text::after {
    width: 100%;
    left: 0;
}

.overlay__close {
    display: none;
}


/*==============COLLAPSIBLE==================*/
@media (max-width: 768px) {
    .main-navbar {
        margin: unset;
    }

    .main-navbar__tab {
        width: 100%;
    }

    .main-navbar__tab::after {
        content: " ";
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-dark-shadow);
        margin-top: 16px;
    }

    .all-headers__container.visible {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    .header-logo {
        display: inline-block;
        position: fixed;
        top: 16px;
    }

    .tab-container {
        display: flex;
        flex-direction: column;
    }

    .main-navbar__tab.active .navbar__dropdown.visible,
    .main-navbar__tab:focus .navbar__dropdown.visible {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .navbar__dropdown.visible {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .primary-link.standout-text {
        text-align: center;
        pointer-events: none;
    }

    .primary-link.standout-text::after {
        display: none;
    }

    .overlay-content {
        height: 100%;
        width: 0;
        opacity: 0;
        position: fixed;
        z-index: 1;
        top: 50px;
        right: 0;
        background-color: var(--color-white);
        overflow-x: hidden;
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .overlay--active {
        width: 100%;
        opacity: 1;
    }

    .overlay__close {
        font-weight: bold;
        font-size: 1em;
        display: flex;
    }

    .button-like--square {
        width: 100%;
    }

    .secondary-nav--left {
        display: none;
    }

    .secondary-nav--right {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2%;
    }

    .secondary-nav--right form,
    .secondary-nav--right form input[type="search"] {
        width: 100%
    }


    .secondary-nav--right li {
        display: none;
    }
}