* {
    box-sizing: border-box;
    line-height: 1.6;
}

*:focus:not(:focus-visible) {
    outline: none;
}

.noDisplay {
    display: none; /*Temporal*/
}

.noVisible {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /*Hidden visually, but present for assistive tech!*/
}

ul {
    list-style-type: none;
}

small {
    display: block;
    text-align: left;
}

.logo {
    display: block;
    margin: auto;
}

.onError {
    background-color: #ffcccc;
}

.standout-text {
    font-weight: bold;
}