* {
    box-sizing: border-box;
    line-height: 1.6;
}

#noDisplay {
    display: none; /*Temporal*/
}

img {
    max-width: 200px; /*Temporal*/
}

h1, h2, h3 {
    color: var(--color-dark-shadow);
    font-family: var(--main-font);
    text-align: center;
}

ul {
    list-style-type: none;
}

fieldset {
    border: none;
}

input:not([type="checkbox"]):not([type="submit"]) {
    border-radius: 10px;
    border-color: var(--color-gray);
    border-width: 1px;
}

.logo {
    display: block;
    margin: auto;
}