* {
    box-sizing: border-box;
}

#noDisplay {
    display: none; /*Temporal*/
}
img {
    max-width: 200px; /*Temporal*/
}

h1, h2, h3 {
    color: var(--cosentino-gray);
    font-family: var(--main-font);
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.button-like {
    color: var(--cosentino-gray);
    background-color: var(--cosentino-white);
    border-width: 1px;
    border-style: solid;
    border-color: var(--cosentino-gray);
    border-radius: 16px;
    padding: 0.5rem;
}

.button-like:hover {
    color: var(--cosentino-white);
    background-color: var(--cosentino-black);
}