.primary-btn {
    cursor: pointer;
    font-family: var(--main-font);
}

button:focus, button:hover  {

}

.close-button {
    position: absolute;
    border-style: none;
    background-color: transparent;
    color: red;
    z-index: 1;
    top: 10px;
    right: 10px;
    font-size: 2rem;
}

.open-button {
    padding: 10px 20px;
    border-radius: 10px;
}