.carousel__container {
    max-width: 1240px;
    position: relative;
    margin: auto;
    padding: 0;
}

.carousel__item {
    display: none;
}

.prev, .next {
    cursor: pointer;
    padding: 16px;
}