.accordion {
   /* color: var(--color-white);
    background-color: var(--color-black);*/
    color: inherit;
    background-color: inherit;
    border: none;
    padding: 0;
    font-size: 1em;
}

.active, .accordion:hover {
   /* color: var(--color-white);
    background-color: var(--color-black);*/
    border: none;
    box-shadow: none;
}

.accordion:focus {
    box-shadow: none;
    outline: none;
   /* color: var(--color-white);
    background-color: var(--color-black);*/
}

.panel {
 /*   color: var(--color-white);
    background-color: var(--color-black);*/
    color: inherit;
    background-color: inherit;
}

/*TODO Corregir el hover de los titulos de seccion del footer*/

@media (max-width: 768px) {

    .panel {
        display: none;
        overflow: hidden;
    }

    .accordion {
        width: 100%;
        text-align: left;
        min-height: 32px;
    }

    .accordion::before {
        content: '+';
        position: absolute;
        right: 150px;
    }

    .accordion.active::before {
        content: '-';
        position: absolute;
        right: 150px;
    }

    .accordion:focus {
        color: var(--color-black);
        background-color: var(--color-white);
    }

    .accordion::after {
        content: "";
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-white);
    }
}