
.main-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1em;
    max-height: 900px;
    max-width: 800px;
    background-color: var(--color-white);
    border-radius: 20px;
    border: none;
    display: block;
    z-index: 100;
}

.closed {
    display: none;
}

.main-dialog--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

.main-dialog__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 4%;
}

.main-dialog form label,
.main-dialog form fieldset {
    margin-bottom: 16px;
}

.main-dialog form {
    background-color: var(--color-lightgray);
    padding: 2em;
    margin-top: 24px;
}

@media (max-width: 768px) {
    .main-dialog {
        max-height: 100vh;
    }
}