.custom-select {

}

.custom-select__option:hover,
.custom-select__option:focus,
.custom-select__option:active
{
    color: var(--color-lightgray);
    background-color: var(--color-medium-gray);
}

.custom-select__option.selected {
    color: var(--color-lightgray);
    background-color: var(--color-dark-shadow);
}

.f-hidden {
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
}

.custom-select__panel {
    position: absolute;
    background-color: var(--color-lightgray);
    width: 440px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
}

.fake-select-btn {
    width: 100%;
    text-align: left;
    background-color: var(--color-white);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--color-gray);
    min-height: 32px;
    padding-left: 8px;
    padding-right: 8px;;
}

.fake-select-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.fake-select-btn:focus {
    box-shadow: 0 0 3px 2px var(--color-dark-shadow);
}