.custom-select__container {

}

.custom-select {

}

.custom-select__option {

}

.custom-select__option.selected {
    color: deeppink;
}

.f-hidden {
    overflow: hidden;
    max-height: 0;
}

.custom-select__panel {
    position: absolute;
    background-color: var(--color-lightgray);
}

.fake-select-btn {
    width: 100%;
    text-align: left;
    background-color: var(--color-white);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--color-gray);
    min-height: 32px;
    padding-left: 8px;
    padding-right: 8px;;
}