fieldset {
    border: none;
    display: block;
    text-align: left;
}

fieldset label {
    display: block;
}

.secondary-nav--right input[type="search"],
.secondary-nav--right input[type="submit"] {
    border-color: var(--color-white);
    border-width: 0;
}

input:not([type="checkbox"]):not([type="submit"]):not([type="search"]), textarea, select {
    border-radius: 10px;
    border-color: var(--color-black);
    border-width: 1px;
    background-color: var(--color-white);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

input[disabled], textarea[disabled] {
    cursor: not-allowed;
    border-color: var(--color-gray);
    opacity: 0.5;
}

.input--validable:invalid {
    color: var(--color-error);
}

.input--validable:valid {
    color: var(--color-success);
}

.contact-form__label {
    display: inline-block;
    width: 50%;
    text-align: start;
    padding: 1%;
    vertical-align: top;
    margin-right: -4px;
}

.contact-form__label input,
.contact-form__label select,
.contact-form__label textarea {
    display: block;
    width: 100%;
    min-height: 32px;
}

.textarea-label {
    display: block;
    width: 100%;
}

.contact-form__label textarea {
    height: 96px;
}

.contact-form__label input:focus,
.contact-form__label textarea:focus,
.contact-form__label select:focus {
    outline: none;
    box-shadow: 0 0 3px 2px var(--color-dark-shadow);
}

.contact-form__label select:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.contact-form__label select:active {
    outline: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color-white);
    color: var(--color-black);
}


.contact-form__label select option:checked {
    background: var(--color-lightgray);
}

form[role="search"] {
    position: relative;
}

.search-label {
    position: absolute;
    width: 40px;
    color: transparent;
    background-color: transparent;
    background-image: url('https://icons-for-free.com/iconfiles/png/512/search+24px-131985193505071219.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    right: 0;
    z-index: 1;
}

.search-label.search--active {
    left: -40px;
}

.search-input {
    transform: translateX(100%);
    z-index: -1;
}

.search-input:focus {
    outline: none;
}

.search-input.search--active {
    transform: translateX(0);
}

.search-input.search--active::placeholder {
    color: inherit;
    transition: all 200ms ease-out;
}

.search-input::placeholder {
    color: transparent;
    transition: all 200ms ease-out;
}

@media (max-width: 768px) {
    .contact-form__label {
        display: block;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .secondary-nav--right input[type="search"] {
        border-radius: 10px;
        border-color: var(--color-black);
        border-width: 1px;
        background-color: var(--color-white);
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .search-label {
        min-width: 40px;
        min-height: 40px;
        right: 10px;
        position: absolute;
        top: 10px;
    }

    .search-label + input[type="submit"] {
        display: none;
    }

    .search-input {
        transform: translateX(0);
        z-index: -1;
    }

    form[role="search"] input[type=submit] {
        display: none;
    }
}