img {
    width: 100%;
    height: auto;
}

.blog-img {
    width: 200px;
    height: 200px;
}

.carousel-img {
    height: 250px;
    width: auto;
}

.title-img {
    width: 100%;
    height: auto;
}

.side-img {
    height: 300px;
    width: auto;
}

.img-wrapper-s {
    max-width: var(--img-little);
    max-height: 200px;
    overflow: hidden;
}

.img-wrapper-ms {
    max-width: var(--img-med-s);
    max-height: 200px;

}

.img-wrapper-ml {
    max-width: var(--img-med-l);
    max-height: 200px;
    overflow: hidden;
}

.img-wrapper-xl {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin: auto;
}

picture {
    width: 100%;
}

.zoomable img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.zoomable img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*=====LOGOS=====*/
.logo {
    display: block;
    margin: auto;
    max-width: 250px;
}

.header-logo {
    max-width: 200px;
    align-self: center;
}

.header-logo img {
    max-width: inherit;
}

/*===== SVG =====*/
.social-media--icon img {
    height: 40px;
    width: 40px;
}

.social-media--icon svg {
    background-color: transparent;
    fill: currentColor;
    width: 40px;
    height: 40px;
}

.social-media--icon svg:hover,
.social-media--icon svg:focus {
    transform: scale(1.2);
}

.navbar-icon svg {
    background-color: transparent;
    fill: currentColor;
    width: 140px;
    height: 24px;
}