.blog-img {
    width: 200px;
    height: 200px;
}

.carousel-img {
    height: 250px;
    width: auto;
}

.title-img {
    width: 100%;
    height: auto;
}

.side-img {
    height: 300px;
    width: auto;
}

/*
TODO: Responsive!
*/

.header-logo {
    max-width: 200px;
    align-self: center;
}

.header-logo img {
    max-width: inherit;
}

/*===== SVG =====*/
.social-media--icon img {
    height: 40px;
    width: 40px;
}

.social-media--icon svg {
    background-color: transparent;
    fill: currentColor;
    width: 40px;
    height: 40px;
}

.social-media--icon svg:hover,
.social-media--icon svg:focus {
    transform: scale(1.2);
}

.navbar-icon svg {
    background-color: transparent;
    fill: currentColor;
    width: 160px;
    height: 60px;
}