img {
    width: 100%;
    height: auto;
}

.blog-img {
    width: 200px;
    height: 200px;
}

.carousel-img {
    height: 250px;
    width: auto;
}

.title-img {
    width: 100%;
    height: auto;
}

.side-img {
    height: 300px;
    width: auto;
}

.img-wrapper-s {
    max-width: var(--img-little);
    max-height: 200px;
    overflow: hidden;
    margin: auto;
}

.img-wrapper-ms {
    max-width: var(--img-med-s);
    max-height: 200px;
    margin: auto;
}

.img-wrapper-ml {
    max-width: var(--img-med-l);
    max-height: 200px;
    overflow: hidden;
    margin: auto;
}

.img-wrapper-xl {
    max-width: var(--img-xl);
    max-height: 300px;
    overflow: hidden;
    margin: auto;
}

picture {
    width: 100%;
}

.zoomable {
    position: relative;
    -webkit-transition: 2s;
}

.zoomable::after {
    content: " ";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 25%;
    border: none;
    display: inline-block;
}

.zoomable:hover img {
   /* -webkit-transform: scale(1.2);
    transform: scale(1.2);*/
    animation: zoomIn 2s normal forwards ease;

}

.zoomable:hover::after {
    animation: innerBorder 2s normal forwards ease;
}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(1,1);
    }

    100% {
        transform: scale(1.6,1.6);
        filter: brightness(0.5);
    }

}

@-webkit-keyframes innerBorder {
    from {
        border: 1px solid white;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        opacity: 0
    }
    to {
        border: 1px solid white;
        top: 5%;
        height: 60%;
        left: 5%;
        width: 90%;
        opacity: 1;
    }
}

/*=====LOGOS=====*/
.logo {
    display: block;
    margin: auto;
    max-width: 250px;
}

.header-logo {
    max-width: 200px;
    align-self: center;
}

.header-logo img {
    max-width: inherit;
}

/*===== SVG =====*/
.social-media--icon img {
    height: 40px;
    width: 40px;
}

.social-media--icon svg {
    background-color: transparent;
    fill: currentColor;
    width: 40px;
    height: 40px;
}

.social-media--icon svg:hover,
.social-media--icon svg:focus {
    transform: scale(1.2);
}


.navbar-icon svg {
    background-color: transparent;
    fill: currentColor;
    min-width: 120px;
}

.navbar__slider svg {
    height: 40px;
    width: 40px;
}