.primary-link {
    color: var(--color-dark-shadow);
    text-decoration: none;
}

.primary-link:hover,
.primary-link:focus {
    color: var(--color-black);
    text-decoration: underline;
}

.secondary-link {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 8px;
    margin-left: -8px;
}

.secondary-link:hover,
.secondary-link:focus {
    color: var(--color-white);
    text-decoration: none;
    transition: color 0s;
}

.policy-link {
    color: var(--color-dark-shadow);
    text-decoration: underline;
}

.policy-link:hover,
.policy-link:focus {
    color: var(--color-black);
    text-decoration: none;
}

.button-like {
    color: var(--color-super-dark);
    text-decoration: none;
    background-color: var(--color-white);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 24px;
    padding: 1rem;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
}

.button-like:hover,
.button-like:focus {
    color: var(--color-white);
    background-color: var(--color-black);
}

.button-like--square {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-super-dark);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 4px;
    padding: 0.5rem;
    text-decoration: none;
}