:root {
    --footer-size-mobile: 400px;
    --footer-size-tabletV: 600px;
    --footer-size-tabletH: 800px;
    --footer-size-laptopXL: 1200px;


    /*TODO: Set sizes!*/
    --main-size-mobile: 400px;
    --main-size-tabletV: 600px;
    --main-size-tabletH: 1024px;
    --main-size-laptopXL: 1400px;
}

.column {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 200px;
}

.column-L {
    max-width: 400px;
}

.column-footer {
    max-width: 144px;
}

.column ul {
    padding: 0;
    margin-top: 0.5rem;

}

@media (max-width: 768px) {
    .column-footer {
        max-width: inherit;
        display: block;
    }
}

@media (min-width: 1920px) {

    .column {
        max-width: 300px;
    }

    .column-footer {
        max-width: 240px;
    }

    .column-L {
        max-width: 560px;
    }


}