:root {
    --footer-size-mobile: 400px;
    --footer-size-tabletV: 600px;
    --footer-size-tabletH: 800px;
    --footer-size-laptopXL: 1200px;


    /*TODO: Set sizes!*/
    --main-size-mobile: 400px;
    --main-size-tabletV: 600px;
    --main-size-tabletH: 1024px;
    --main-size-laptopXL: 1400px;
}

.column {
    display: inline-block;
    vertical-align: top;
    min-width: min-content;
    max-width: 200px;
    margin-left: 8px;
    margin-right: 8px;
}

.column ul {
    padding: 0;
    margin-top: 0.5rem;
    max-width: 216px;
    min-width: 160px;
}
